@import 'variables';



//USEFUL MIXINS
@mixin column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: url('./Assets/LONG NIGHT TEMPLATE (2).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white-color;
    font-family: 'Times New Roman', Times, serif;
    @include column-center();
    gap: 2rem;
}


//HEADER SECTION
header
{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $grey-color;
    max-height: 100px;
    img 
    {
        height: 100%;
        padding: 10px;
        max-height: 100px;
    }
}

main
{
    width: 90vw;
    @include column-center();
    gap: 5rem;
}

// CTA-BTN
.cta-btn
{
    background-color: $black-color;
    color: $white-color;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px $black-color;
}


//MY IMAGE SECTION
.my-img
{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    display: grid;
    place-items: center;
    img
    {
        width: 300px;
        height: 300px;

    }
}

h1
{
    color: black;
    font-size: $h1-font-size;
}
h2 
{
    font-size: $h2-font-size;
}

.slider-sect
{
    @include row-center();
    box-shadow: 0 0 15px 15px $grey-color;
}
.arrow
{
    width: 2rem;
    &:last-child
    {
        rotate: 180deg;
    }
}


.slider-img
{
    width: 300px;
    height: 400px;
    overflow: hidden;
}
.slide
{
    position: relative;
    animation: slideshow 25s linear infinite;
}
.images
{
    display: flex;

    img
    {
        width: 300px;
        height: 400px;
        padding: 0 10px;
    }
}


@keyframes slideshow {
    0%{
        right:0;
    }
    
    20%{
        right:300px;
    }
    25%{
        right:300px;
    }
    40%{
        right:600px;
    }
    45%{
        right:600px;
    }
    60%{
        right:900px;
    }
    65%{
        right:900px;
    }
    80%{
        right:0;
    }
    85%{
        right:0;
    }
}




.hero-section
{
    background: $white-color;
    border-radius: 50px;
    height: 70vh;
    width: 90%;
    max-height: 600px;
    @include row-center();
    gap: 15%;
    padding: 0 10%;
}

.cta-sect
{
    @include column-center();
    align-items: flex-start;
    gap: 1rem;
}

//ABOUT THE BOOK SECTION
.about-book
{
    @include column-center();
    width: 60%;
    gap: 1rem;
    p 
    {
        text-indent: 1rem;
        // font-weight: bold;
        font-size: 1.5rem
    }
    h2 
    {
        text-decoration: underline;
        font-weight: bold;
    }
}
//AVAILABLE SECTION
.available
{
    background: $white-color;
    color: $black-color;
    width: 60%;
    height: 100px;
    border-radius: 30px;
    @include column-center();
    gap: .5rem;
    padding: 20px;
    min-width: 300px;
    label
    {
        display: inline-block;
        max-width: 9rem;
    }
    .available-cta
    {
        display: flex;
        gap: 2rem;
    }
}

.about-author
{
    @include column-center();
    width: 90%;
    gap: 1rem;
    h2
    {
        text-decoration: underline;
        font-weight: bold;
        font-size: $h2-font-size;
    }
    .about-author-sect
    {
        @include row-center();
        width: 90%;
        p 
        {
            text-indent: 2rem;
            font-size: 1.5rem;
        }

        div:first-child
        {
            width: 60%;
        }
    }
}

footer
{
    height: 15vh;
    width: 100%;
    background: $grey-color;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    max-height: 100px;
    .contact-me
    {
        display: grid;
        place-items: center;
    }
    .links
    {
        @include row-center();
        gap: 1rem;
        a 
        {
            color: $white-color;
        }
    }
}

//MEDIA QUERIES START HERE

@media(max-width:1050px){
    h1{
        font-size: 2rem;
    }
}
@media(max-width:950px){
    h1{
        font-size: 1.5rem;
    }
    .about-book
    {
        p 
        {
            font-size: 1rem;
        }
    }
    .about-author
    {
        .about-author-sect
        {
            p 
            {
                font-size: 1rem;
            }
        }
    }
    .my-img
    {
        width: 200px;
        height: 200px;
        img
        {
            width: 200px;
            height: 200px;

        }
    }
}
@media (max-width:850px) {

    .hero-section
    {
        height: 60vh;
        max-height: 450px;
        gap: 10%;
        padding: 0 5%;
    }
    .slider-img
    {
    width: 200px;
    height: 270px;
    }
    .images
    {
    img
    {
        width: 200px;
        height: 270px;
    }
    }
    h2 
    {
        font-size: 1rem;
    }
    // .cta-btn
    // {
    //     // font-weight: normal;
    // }
    .available
    {
        padding: 10px;
        .available-cta
        {
            gap: 1rem;
        }
    }
    @keyframes slideshow {
    0%{
        right:0;
    }
    
    20%{
        right:200px;
    }
    25%{
        right:200px;
    }
    40%{
        right:400px;
    }
    45%{
        right:400px;
    }
    60%{
        right:600px;
    }
    65%{
        right:600px;
    }
    80%{
        right:0;
    }
    85%{
        right:0;
    }
    }
    footer
    {
        font-size: 1rem;
    }
}

@media (max-width:600px) {
    .hero-section
    {
        @include column-center();
        flex-direction: column-reverse;
        // align-items: flex-start;
        height: 100vh;
        max-height: 500px;
        width: 90%;
        max-width: 400px;
        min-width: 300px;
        gap: 2rem;
    }
    .about-book
    {
        width:80%;
        min-width: 300px;
    }
    .about-author
    {
        min-width: 300px;
        gap: 1rem;
        .about-author-sect
        {
            width:100%;
            @include column-center();
            flex-direction: column-reverse;
            div:first-child
            {
                width:100%;
            }
        }
    }
}