@import 'variables';



//USEFUL MIXINS
@mixin column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: url('./Assets/LONG NIGHT TEMPLATE (2).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white-color;
    font-family: 'Times New Roman', Times, serif;
    @include column-center();
    gap: 2rem;
}


//HEADER SECTION
header
{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $grey-color;
    img 
    {
        height: 100%;
        padding: 10px;
    }
}

main
{
    width: 90vw;
    @include column-center();
    gap: 5rem;
}

// CTA-BTN
.cta-btn
{
    background-color: $black-color;
    color: $white-color;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px $black-color;
}


//MY IMAGE SECTION
.my-img
{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    img
    {
        width: 300px;
        height: 300px;

    }
}

h1
{
    color: black;
    font-size: $h1-font-size;
}
h2 
{
    font-size: $h2-font-size;
}

.slider-sect
{
    @include row-center();
}
.arrow
{
    width: 2rem;
    &:last-child
    {
        rotate: 180deg;
    }
}


.slider-img
{
    width: 300px;
    height: 400px;
    overflow: hidden;
}
.images
{
    display: flex;

    img
    {
        width: 300px;
        height: 400px;
        padding: 0 10px;
    }
}



.hero-section
{
    background: $white-color;
    border-radius: 50px;
    height: 70vh;
    width: 90%;
    max-height: 600px;
    @include row-center();
    gap: 15%;
    padding: 0 10%;
}

.cta-sect
{
    @include column-center();
    align-items: flex-start;
    gap: 1rem;
}

//ABOUT THE BOOK SECTION
.about-book
{
    @include column-center();
    width: 60%;
    gap: 1rem;
    p 
    {
        text-indent: 1rem;
        // font-weight: bold;
        font-size: 1.5rem
    }
    h2 
    {
        text-decoration: underline;
        font-weight: bold;
    }
}
//AVAILABLE SECTION
.available
{
    background: $white-color;
    color: $black-color;
    width: 60%;
    height: 100px;
    border-radius: 30px;
    @include column-center();
    gap: .5rem;
    padding: 20px;
    label
    {
        display: inline-block;
        max-width: 9rem;
    }
    .available-cta
    {
        display: flex;
        gap: 2rem;
    }
}

.about-author
{
    @include column-center();
    width: 90%;
    h2
    {
        text-decoration: underline;
        font-weight: bold;
        font-size: $h2-font-size;
    }
    .about-author-sect
    {
        @include row-center();
        width: 90%;
        p 
        {
            text-indent: 2rem;
            font-size: 1.5rem;
        }

        div:first-child
        {
            width: 60%;
        }
    }
}

footer
{
    height: 15vh;
    width: 100%;
    background: $grey-color;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    .links
    {
        @include row-center();
        gap: 1rem;
        a 
        {
            color: $white-color;
        }
    }
}